<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>장바구니</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>장바구니</h1>
        <table>
            <tr>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            <tr th:each="item:${cartInput.cartItemInputs}">
                <td><span th:text="${item.productName}"></span></td>
                <td><span th:text="${item.productPrice}"></span>원</td>
                <td><span th:text="${item.quantity}"></span></td>
                <td>
                    <form th:action="@{/cart/remove-item}" method="post">
                        <input type="hidden" name="cartItemId" th:value="${item.id}"/>
                        <input type="submit" value="장바구니에서삭제"/>
                    </form>
                </td>
            </tr>
        </table>
        <div>합계금액:<span th:text="${cartInput.totalAmount}"></span>원</div>
        <div>청구금액:<span th:text="${cartInput.billingAmount}"></span>원(세금포함)</div>
        <form th:if="${cartInput.cartItemInputs.size() > 0}" th:action="@{/order/display-form}" method="get">
            <input type="submit" value="주문하기"/>
        </form>
        <a th:href="@{/catalog/display-list}">상품 목록으로 돌아가기</a>
    </body>
</html>