<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>상품 상세 정보</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>상품 상세 정보</h1>
        <table>
            <tr>
                <th>상품명</th><td><span th:text="${product.name}">상품명01</span></td>
            </tr>
            <tr>
                <th>가격</th><td><span th:text="${product.price}">300</span>원</td>
            </tr>
            <tr>
                <th>재고수량</th><td><span th:text="${product.stock}">10</span></td>
            </tr>
        </table>
        <form th:action="@{/cart/add-item}" method="post" th:object="${cartItemInput}">
            <input type="hidden" th:field="*{productId}"/>
            수량:<input type="text" th:field="*{quantity}"/>
            <span th:errors="*{quantity}"></span>
            <input type="submit" value="장바구니에추가"/>
        </form>
        <a th:href="@{/catalog/display-list}">상품 목록으로 돌아가기</a>
    </body>
</html>